/.vs
2017.EPAM.FirstSeleniumTestApp.AutomationTestRun\bin
2017.EPAM.FirstSeleniumTestApp.AutomationTestRun\obj
2017.EPAM.FirstSeleniumTestApp.TestWebUIFramework\bin
2017.EPAM.FirstSeleniumTestApp.TestWebUIFramework\obj