/.vs
2017.EPAM.FirstSeleniumTestApp.AutomationTestRun/bin/
2017.EPAM.FirstSeleniumTestApp.AutomationTestRun/obj/
2017.EPAM.FirstSeleniumTestApp.TestWebUIFramework/bin/
2017.EPAM.FirstSeleniumTestApp.TestWebUIFramework/obj/
2017.EPAM.FirstSeleniumTestApp.PageObjectLibrary/bin/
2017.EPAM.FirstSeleniumTestApp.PageObjectLibrary/obj/